<div class="body">
    <div class="top-title">
        <span>Purchase Orders</span>
    </div>

    <div class="container">
        <div class="create-order">
                <mat-label class="title">Create Purchase Order</mat-label>
                    <mat-form-field color="#c30000">
                        <input matInput [matDatepicker]="picker" placeholder="Delivery Date" required>
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>
                    
                    <mat-form-field>
                        <mat-label>Location</mat-label>
                        <mat-select required>
                            <mat-option *ngFor="let cities of city" [value]="cities.value">
                            {{cities.viewValue}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>

                    <mat-form-field>
                        <mat-label>Budget</mat-label>
                        <mat-select required>
                            <mat-option *ngFor="let budgets of budget" [value]="budgets.value">
                            {{budgets.viewValue}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                                     
        </div>
        <div class="button" [routerLink]="['/home/create-order']" routerLinkActive="active">
            <button mat-raised-button class="btn-create">
                <i class="material-icons">
                        add_circle_outline
                </i>
                <span class="x">Confirm</span>
            </button>
        </div>
        
        
    </div>

</div>
