<div class="body">
    <div class="top-title">
        <span>Purchase Orders</span>
    </div>

    <div class="container">
        <div class="create-order">
                <mat-label class="title">Create Purchase Order</mat-label>
                    <mat-form-field class="width" color="primary">
                        <input [(ngModel)]="yags" matInput [matDatepicker]="picker" placeholder="Delivery Date" required>
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>

                    <mat-form-field class="width" required>
                            <mat-label>Item Category</mat-label>
                            <mat-select required>
                                <mat-option *ngFor="let category of categories" [(value)]="category">
                                {{category.viewValue}}
                                </mat-option>
                            </mat-select>
                    </mat-form-field>

                    <mat-form-field class="width" required>
                            <mat-label>Item Name:</mat-label>
                            <input  matInput required >
                    </mat-form-field>
              
                    <mat-form-field class="width" required>
                        <mat-label>Location</mat-label>
                        <mat-select required>
                            <mat-option *ngFor="let city of cities" [(value)]="location">
                            {{city.viewValue}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>

                    <mat-form-field class="width" required *ngIf="transactionServ.activeTransactions; else noTransactions">
                        <mat-label>Budget</mat-label>
                        <mat-select required>
                            <mat-option *ngFor="let budget of transactionServ.budgets" [(value)]="budget">
                            {{budget.name}} - {{budget.available}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <ng-template #noTransactions>
                            <app-loading-spinner></app-loading-spinner>
                    </ng-template>           
        </div>
    
      
        <!-- <div class="button" [routerLink]="['/home/create-order']" routerLinkActive="active">
            <button mat-raised-button class="btn-create">
                <i class="material-icons">
                        add_circle_outline
                </i>
                <span class="x">Confirm</span>
            </button>
        </div> -->
        
        
    </div>
    
   
        <button mat-raised-button class="add button" color="primary" disableRipple  [routerLink]="['/home/create-order']" routerLinkActive="active">
                <i class="material-icons">
                        add_circle_outline
                </i>
                <span class="x">Add Documents</span>
        </button>
    
        <button mat-raised-button class="red button"  disableRipple  [routerLink]="['/home/create-order']" routerLinkActive="active">
            <i class="material-icons">
                    cancel
            </i>
            <span class="x">Cancel</span>
        </button>
        <button mat-raised-button class="green button" disableRipple  [routerLink]="['/home/create-order']" routerLinkActive="active">
            <i class="material-icons">
                    check
            </i>
            <span class="x">Confirm</span>
    </button>
    

</div>
