.body{
    position: absolute;
    top:0;
    left: 15vw;
    padding: 2em;
}
.top-title{
    width: 80vw;
    border-bottom: 1px solid black;
    span{
        font-size: 5vh;
    }
}

.container {
    position: absolute;
    background: #fff;
    width: 73vw;
    height: 65vh;
    border-radius: 5px;
    margin-top: 1em;
    padding: 3em;
    
    .title{
        display: flex;
        font-size: 1.5em;
    }
    
    .darken{
        background-color: #8AFF9D;
    }
    
    .create-order{
        height: 50vh;
        width:40vw;        
        display: flex;
        flex-direction: column;
    }

    .width{
        width: 72vw;
    }
}


.button{
    height: 9vh;
    width: 10vw;
}
.green{
    background-color: #4ebd17;
    color: white;
    height: 6vh;
    font-size: 15px;
    position: absolute;
    top: 85vh;
    width: 10vw;
    right: 7vw;

}
.red{
    width: 10vw;
    height: 6vh;
    font-size: 15px;
    position: absolute;
    top: 85vh;
    width: 10vw;
    right: 17vw;
    margin-right:5px;
}

.add
{
    position: absolute;
    top: 75vh;
    width: 15vw;
    right: 7vw;
}