.body{
    position: absolute;
    top:1.9vh;
    left: 15vw;
    padding: 2em;
}
.top-title{
    width: 80vw;
    border-bottom: 1px solid black;
    span{
        font-size: 5vh;
    }
}

.container {
    position: absolute;
    right: 40%;
    background: #fff;
    width: 46vw;
    height: 70vh;
    border-radius: 5px;
    margin-top: 1em;
    margin-left: auto;
    margin-right: auto;
    padding: 3em;
    
    .title{
        display: flex;
        font-size: 1.5em;
    }
    
    .darken{
        background-color: #8AFF9D;
    }
    
    .create-order{
        margin-left:auto;
        margin-right: auto;
        height: 50vh;
        width:40vw;        
        display: flex;
        flex-direction: column;
    }
}


.button{
    height: 8vh;
    width: 10vw;
}
.green{
    background-color: #4ebd17;
    color: white;
    height: 6vh;
    font-size: 15px;
    position: absolute;
    top: 90vh;
    width: 10vw;
    right: 40vw;

}
.red{
    width: 10vw;
    height: 6vh;
    font-size: 15px;
    position: absolute;
    top: 90vh;
    width: 10vw;
    right: 50vw;
    margin-right:5px;
}

.add
{
    position: absolute;
    top: 80vh;
    width: 15vw;
    right: 40vw;
}