.body{
    position: absolute;
    top:1.9vh;
    left: 15vw;
    padding: 2em;
}
.top-title{
    width: 80vw;
    border-bottom: 1px solid black;
    span{
        font-size: 5vh;
    }
}

.container {
    background: #fff;
    width: 71vw;
    height: 60vh;
    margin: 1em;
    padding: 3em;
    
    .title{
        display: flex;
        font-size: 1.5em;
    }
    
    .darken{
        background-color: #8AFF9D;
    }
    
    .create-order{
        height: 50vh;
        width:40vw;        
        display: flex;
        flex-direction: column;
    }
}

button{
    position: absolute;
    bottom: 70px;
    right: 70px;
    cursor: pointer;
    font-size: 1em;
    border: none;
    width: 30%;
    padding: 0.5em;  
    font-weight: 600;
    text-align: center;
    outline: none;
    margin-top: 2em;

    

    &.btn-create{
        border-radius: 7px;
        background-color: var(--primary);
        color: #ffffff;
        transition-property: opacity;
        transition-timing-function: ease-in;
        transition-duration: 125ms;

        &:hover{
            opacity: 0.75;
        }

        &:active{
            background-color: var(--primary-dark)
        }
    }

    i {
        float: left;
        margin-top: 6px;
        border-right: 1px solid #6fdca2;
    }
}

.x {
    margin-top: 1.3em;
}