<div class="body">
    <div class="top-title">
        <span>BANK</span>
    </div>
   
        <div class="card"></div>

                <button mat-raised-button class="btn-create" disableRipple>
                        <i class="material-icons">
                                add_circle_outline
                        </i>
                        <span class="x">Create</span>
                </button>
        

    <div class="cards">
            <mat-expansion-panel>
                    <mat-expansion-panel-header>
                            <mat-panel-title>Budget ID: 01</mat-panel-title>
                            <mat-panel-description>Budget Holder:Serdon</mat-panel-description>        
                    </mat-expansion-panel-header>
                   <p>inside</p>
            </mat-expansion-panel>
            <mat-expansion-panel>
                    <mat-expansion-panel-header>
                            <mat-panel-title>Budget ID: 01</mat-panel-title>
                            <mat-panel-description>Budget Holder:Serdon</mat-panel-description>        
                    </mat-expansion-panel-header>
                   <p>inside</p>
            </mat-expansion-panel>
    </div>
   
  


</div>

