<div class="body">
    <div class="top-title">
        <span>BANK</span>
    </div>
    <div class="items">
        <div class="item">
           <div class="num">1</div>
            <div class="item-name">Name</div>
            <div class="item-desc">Description</div>
           </div>
    </div>
    <div class="asd">
        <div class="button">
            <button mat-raised-button class="btn-create">
                <i class="material-icons">
                        add_circle_outline
                </i>
                <span class="x">Create</span>
            </button>
        </div>
    </div>
</div>
