.body{
    position: absolute;
    top:5vh;
    left: 15vw;
    padding: 2em;
}

.top-title{
    color: var(--body-title);
    width: 80vw;
    border-bottom: 1px solid black;
    span{
        font-size: 5vh;
    }
    margin-bottom: 2vh;
}

.items{
    display: flex;
    justify-content: space-between;   
    
}

.mat-expansion-panel-header.mat-expanded,
.mat-expansion-panel-header.mat-expanded:hover,
.mat-expansion-panel-header.mat-expanded:focus {
    background-color: #fc6b03;
}