.body{
    position: absolute;
    top:0;
    left: 15vw;
    padding: 2em;
}

.top-title{
    width: 80vw;
    border-bottom: 1px solid black;
    span{
        font-size: 5vh;
    }
    margin-bottom: 2vh;
}

.items{
    display: flex;
    justify-content: space-between;
    margin-left: 5px;   
    
}

.mat-expansion-panel-header.mat-expanded,
.mat-expansion-panel-header.mat-expanded:hover,
.mat-expansion-panel-header.mat-expanded:focus {
    background-color: #fc6b03;
    color: var(--white);
}
.right{
    float: right;
    margin: 2%;
}

button {
    margin-top: 1em;
    margin-right: 1em;

    i.edit {
        color: #2eb66e;
    }

    i.delete {
        color: #ff2806
    }
}