.body{
    position: absolute;
    top:0;
    left: 15vw;
    padding: 2em;
}

.top-title{
    width: 80vw;
    border-bottom: 1px solid black;
    span{
        font-size: 5vh;
    }
    margin-bottom: 2vh;
}

.card-container{
    position: absolute;
    height: 80vh;
    width: 90vw;
    
    top: 5vh;
}
.card{
    height: 40vh;
    width: 15vw;
    background-color: cornsilk;
    margin-top: 5%;
    margin-right: 2em;
    border-radius: 5%;
}

.inside{
    display: flex;
  
    flex-direction: column;
}

.item {
    width: 100px;
    height: 100px;
}