// <div class="body">
//     <div class="card-container">
//         <div class="card">
//             Quote 1
//         </div>
//     </div>
// </div>

.body{
    height: 100vh;
    width: 100vw;
}
.card-container{
    position: absolute;

    height: 80vh;
    width: 90vw;
    background-color: brown;
    left:10vw;
    top: 5vh;
}
.card{
    height: 30vh;
    width: 15vw;
    background-color: cornsilk;
    margin: 5%;
    border-radius: 5%;
}

.inside{
    display: flex;
  
    flex-direction: column;
}