<div class="body">
    <div class="top-title">
            <span>Dashboard</span>
    </div>

    <div class="card-container">
        <div class="card-body">
            <button mat-raised-button class="card">
                <p><img class="item" src="../../../../assets/images/office-chair-1.png"></p>
                <p>Office Chair</p>
                <p>Date Posted</p>
                <p>Price</p>
            </button>
            <button mat-raised-button class="card">
                <p><img class="item" src="../../../../assets/images/office-chair-2.png"></p>
                <p>Office Chair</p>
                <p>Date Posted</p>
                <p>Price</p>
            </button>
            <button mat-raised-button class="card">
                <p><img class="item" src="../../../../assets/images/office-chair-1.png"></p>
                <p>Office Chair</p>
                <p>Date Posted</p>
                <p>Price</p>    
            </button>
            <button mat-raised-button class="card">
                <p><img class="item" src="../../../../assets/images/office-chair-2.png"></p>
                <p>Office Chair</p>
                <p>Date Posted</p>
                <p>Price</p>
            </button>
        </div>
    </div>
</div>