<div class="nav-main">
    <div class="nav-top">
        <div class="logo">
            <img class="x" src="../../../../../assets/icons/icon-72x72.png" height="50px" width="50px" />
        </div>
    </div>
    <div class="nav-body">
        <div class="nav-item" [routerLink]="['/home/dashboard']" routerLinkActive="active">
            <div class="icon">
            <i class="fa fa-home" aria-hidden="true"></i>
                <span>Dashboard</span>
            </div>
        </div>
        
        <div class="nav-item" [routerLink]="['/home/purchase-order']" routerLinkActive="active">
            <div class="icon">
            <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                <span>Purchase Order</span>
            </div>
        </div>
 
        <div class="nav-item" [routerLink]="['/home/budget']" routerLinkActive="active">
            <div class="icon">
            <i class="fa fa-money" aria-hidden="true"></i>
                <span>Budgets</span>
            </div>
        </div>

        <div class="nav-item" [routerLink]="['/home/report']" routerLinkActive="active">
            <div class="icon">
            <i class="fa fa-bar-chart" aria-hidden="true"></i>
                <span>Report</span>
            </div>
        </div>
    </div>
</div>