.nav-main{
    padding: 1em;
    width: 5vw;
    height: 100vh;
    background-color:  #ffffff;
    transition: 0.5s;
    overflow: hidden;
    text-overflow: ellipsis;
    position: absolute;
    z-index: 99;
    
}

.nav-main:hover{
    height: 100vh;
    width: 14vw;
    transition: 0.5s;
    
    .menus {
        opacity: 100;
        transition: 0.5s;
    }
}

.nav-top{
    height: 10vh;
    border-bottom: black 1px solid;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

    .logo {
        
        img{
        padding: 0.5em;
        margin-right: auto;
        }
    }
}

.nav-item{
    width: 100%; 
    overflow: hidden;
    white-space: nowrap;
    outline: none;
    cursor: pointer;

    &:hover {
        color: #6b6969
    }

    img.x {
        padding: 1em;
        margin-top: 1em;
        width: 30px;
        height: 30px;
        
    }

}

.icon {
    display:flex;
    align-items: center;
   

    
}
.menus {
        position: absolute;
        margin-top: 0.6em;
        margin-left: 0.5em;
        left:70px;
        width: 0;
        font-weight: bold;
        opacity: 0;
    }