<div class="nav-main">
    <div class="nav-top">
        <div class="logo">
            <img class="x" src="../../../../../assets/icons/icon-72x72.png" height="50px" width="50px" />
        </div>
    </div>
    <div class="nav-body">
        <!-- <div class="nav-top">logo POOP</div> -->
        <div class="nav-item">
            <div class="icon">
            <img class="x" src="../../../../../assets/icons/home-icon.png" />
                <span class="menus">Dashboard</span>
            </div>
        </div>

        <div class="nav-item">
            <div class="icon">
            <img class="x" src="../../../../../assets/icons/purchase-order-icon.png" />
                <span class="menus">Purchase Order</span>
            </div>
        </div>

        <div class="nav-item">
            <div class="icon">
            <img class="x" src="../../../../../assets/icons/budget-icon.png" />
                <span class="menus">Bank</span>
            </div>
        </div>

        <div class="nav-item">
            <div class="icon">
            <img class="x" src="../../../../../assets/icons/report-icon.png"  />
                <span class="menus">Report</span>
            </div>
        </div>
    </div>
</div>