<div class="body">
    <div class="top-title">
        <span>Dashboard</span>
    </div>
    <mat-accordion *ngIf="transactionServ.activeTransactions; else noTransactions">
            <!-- item component -->
        <mat-expansion-panel *ngFor="let transaction of transactionServ.activeTransactions">
                <mat-expansion-panel-header>
                    <mat-panel-title>Order ID: {{transaction.id}}</mat-panel-title>
                        <div class="desc">
                            <mat-panel-description>
                                {{transaction.delivery_date.seconds * 1000 | date:'MMM dd, yyyy'}}
                            </mat-panel-description>
                        </div>
                </mat-expansion-panel-header>
             <div class="inside">
                <div class="row"><p>Status</p> <button mat-mini-fab color="primary">Active</button></div> 
                <p> item category:</p> {{transaction.item_category}}
                <p>item name </p> {{transaction.item_name}}
                <p>location</p>{{transaction.location}}
                 <p>budget</p>{{transaction.budget}}
             </div>
             <div class="buttons">
                <button mat-raised-button class="cancel">Cancel Order</button>
                <button mat-raised-button color="primary" [routerLink]="[ '/home/dashboard', transaction.id]">View Quotes</button>

             </div>
        </mat-expansion-panel>

                <!-- item component -->
    </mat-accordion>

    <ng-template #noTransactions>
        <app-loading-spinner></app-loading-spinner>
    </ng-template>
    
    
      
</div>