<div class="body">
    <div class="top-title">
        <span>Dashboard</span>
        </div>
    <mat-accordion>
            <!-- item component -->
            <mat-expansion-panel>
                    <mat-expansion-panel-header>
                            <mat-panel-title>Order ID:</mat-panel-title>
                            <mat-panel-description>desc</mat-panel-description>        
                    </mat-expansion-panel-header>
                   <p>inside</p>
            </mat-expansion-panel>
            <mat-expansion-panel>
                    <mat-expansion-panel-header>
                            <mat-panel-title>Order ID:</mat-panel-title>
                            <mat-panel-description>desc</mat-panel-description>        
                    </mat-expansion-panel-header>
                   <p>inside</p>
                </mat-expansion-panel>
                <!-- item component -->
    </mat-accordion>
       
        
      
</div>