.body{
    position: absolute;
    top:5vh;
    left: 15vw;
    padding: 2em;
}

.top-title{
    color: var(--body-title);
    width: 80vw;
    border-bottom: 1px solid black;
    span{
        font-size: 5vh;
    }
    margin-bottom: 2vh;
}

.desc {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-right: 40%;


}

