<div class="body">
    <div class="top-title">
        <span>Dashboard</span>
    </div>
    <mat-accordion *ngIf="transactionServ.activeTransactions; else noTransactions">
            <!-- item component -->
        <mat-expansion-panel *ngFor="let transaction of transactionServ.activeTransactions">
                <mat-expansion-panel-header>
                    
                        <mat-panel-title>Order ID: {{transaction.id}}</mat-panel-title>
                        <div class="desc">
                            <mat-panel-description>
                                {{transaction.delivery_date.seconds * 1000 | date:'MMM dd, yyyy'}}
                            </mat-panel-description>
                    </div>
                </mat-expansion-panel-header>
                <p>inside</p>
                this works
        </mat-expansion-panel>

                <!-- item component -->
    </mat-accordion>

    <ng-template #noTransactions>
        <app-loading-spinner></app-loading-spinner>
    </ng-template>
    
    
      
</div>