:root{
    --body-title:  #4e5361;

    --black: #000000;
    --black-light: #4D4D4D;
    --black-dark: #332424;

    --white: #FFFFFF;
    --white-dark: #808080;
    --white-light: #FFB3B3;

    --primary: #FF5D00;
    --primary-light: #FFA70D;
    --primary-dark: #E87D0C;

}

body{
    margin: 0;
    overflow-x: hidden;
}

h1{
    &.loading{
        color: var(--primary);
    }
}